.vscode/
.idea/
__pycache__/
unet_model.pth
src/chapter02/img/
src/chapter02/saver/
src/chapter14/dataset/
src/chapter15/dataset/
src/chapter15/RLHF/checkpoints/
src/chapter17/dataset/
src/chapter18/chatGLM_spo/huggingface_saver/huggingface_saver/
src/chapter18/chatGLM_spo/data/
